order deny,allow
deny from all
allow from 127.0.0.1
Allow from localhost


<Files "calculator.php">
    Allow from all
</Files>
<Files "new_crew.php">
    Allow from all
</Files>
<Files "new_job.php">
    Allow from all
</Files>
<Files "new_task.php">
    Allow from all
</Files>
<Files "getTimeOfTask.php">
    Allow from all
</Files>
<Files "deleteTask.php">
    Allow from all
</Files>