body {
    overflow-x: hidden;
  }

  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.card{
    border: 2px dashed rgba(105, 105, 105, 0.5);
}


/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


.finishedTaskList {
    min-height: 395px;
    max-height: 395px;
    overflow: auto;
}

.finishedTaskListShared{
    min-height: 0;
    max-height: 200px;
    overflow: auto;
}

.payablePlayerList {
    min-height: 395px;
    max-height: 395px;
    overflow: auto;
}

.payablePlayerListShared{
    min-height: 0;
    max-height: 200px;
    overflow: auto;
}

.listItems {
    min-height: 50px;
    border-radius: 5px;
    cursor: pointer;
}

.listItems:hover {
    /* Füge die Styles für den Hover-Zustand hinzu */
    background-color: rgb(47, 52, 77, 0.507)
}

@keyframes animate {
    0% {
        box-shadow: 0 0 0 0 rgba(30, 241, 30, 0.452), 0 0 0 0 rgba(30, 241, 30, 0.521), inset 0 0 0 0 rgba(30, 241, 30, 0.452), inset 0 0 0 0 rgba(30, 241, 30, 0.521);
    }

    40% {
        box-shadow: 0 0 0 5px rgb(255, 109, 74, 0), 0 0 0 0 rgba(30, 241, 30, 0.466), inset 0 0 0 5px rgb(255, 109, 74, 0), inset 0 0 0 0 rgba(30, 241, 30, 0.466);
    }

    80% {
        box-shadow: 0 0 0 5px rgb(255, 109, 74, 0), 0 0 0 5px rgb(255, 109, 74, 0), inset 0 0 0 5px rgb(255, 109, 74, 0), inset 0 0 0 5px rgb(255, 109, 74, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgb(255, 109, 74, 0), 0 0 0 5px rgb(255, 109, 74, 0), inset 0 0 0 0 rgb(255, 109, 74, 0), inset 0 0 0 5px rgb(255, 109, 74, 0);
    }
}

.pulse {
    animation: animate 3s linear infinite;
}

.trash-button {
    height: 2.9em;
    width: 2.9em;
    border-radius: 50%;
    padding-top: 8px;
  }


  .modal {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    z-index: 9999;
    display: block;
  }

   .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  body.modal-open {
    overflow: hidden;
  }


