.finishedTaskList {
    min-height: 395px;
    max-height: 395px;
    overflow: auto;
}

.payablePlayerList {
    min-height: 395px;
    max-height: 395px;
    overflow: auto;
}

.listItems {
    min-height: 50px;
    border-radius: 5px;
    cursor: pointer;
}

.listItems:hover {
    /* Füge die Styles für den Hover-Zustand hinzu */
    background-color: rgb(47, 52, 77, 0.507)
}

@keyframes animate {
    0% {
        box-shadow: 0 0 0 0 rgba(30, 241, 30, 0.452), 0 0 0 0 rgba(30, 241, 30, 0.521), inset 0 0 0 0 rgba(30, 241, 30, 0.452), inset 0 0 0 0 rgba(30, 241, 30, 0.521);
    }

    40% {
        box-shadow: 0 0 0 5px rgb(255, 109, 74, 0), 0 0 0 0 rgba(30, 241, 30, 0.466), inset 0 0 0 5px rgb(255, 109, 74, 0), inset 0 0 0 0 rgba(30, 241, 30, 0.466);
    }

    80% {
        box-shadow: 0 0 0 5px rgb(255, 109, 74, 0), 0 0 0 5px rgb(255, 109, 74, 0), inset 0 0 0 5px rgb(255, 109, 74, 0), inset 0 0 0 5px rgb(255, 109, 74, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgb(255, 109, 74, 0), 0 0 0 5px rgb(255, 109, 74, 0), inset 0 0 0 0 rgb(255, 109, 74, 0), inset 0 0 0 5px rgb(255, 109, 74, 0);
    }
}

.pulse {
    animation: animate 3s linear infinite;
}