body {
    overflow-x: hidden;
  }

.multiple {
    height: 2.65em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.bi-info-circle {
    font-size: 25px;
    color: cyan;
    position: absolute;
}

.card{
    border: 2px dashed rgba(105, 105, 105, 0.5);
}

.deletePart {
    display:block;
    height: 2.9em;
    width: 2.9em;
    border-radius: 50%;
}

.deletePart2 {
    display: block;
    border-radius: 50%;
    scale: 1;
}

